

# Task 1

In [ ]:
def remove_duplicate(lst: list) -> list:
    remove_set:set = set(lst)
    no_duplicate_list:list = list(remove_set)
    return no_duplicate_list



list_dup:list = [1, 2, 2, 3, 1, 4]
print(remove_duplicate(list_dup))

[1, 2, 3, 4]

# Task 2

In [ ]:
class Employee:
    def __init__(self, name:str, salary:int):
        self.name = name
        self.salary = salary

    def get_details(self):
        print(f'Name: {self.name}, Salary: {self.salary}')


class Manager(Employee):
    def __init__(self,name:str,salary:int,department:str):
        super().__init__(name,salary)
        self.department = department

    def get_details(self):
        print(f'Name: {self.name}, Salary: {self.salary}, Department: {self.department}')


m1:Manager = Manager('Abood',1200,'IT')
m1.get_details()

Name: Abood, Salary: 1200, Department: IT

#Task 3

In [ ]:
nums = [1,2,3,4,5,6]
even_numbers:list = list(filter(lambda x:x%2==0, nums))
square_even_numbers:list = list(map(lambda x:x**2, even_numbers))

print(square_even_numbers)

[4, 16, 36]

#Task 4

In [ ]:
def safe_divide(x,y):
    try:    print(x/y)
    except ZeroDivisionError: print('Cannot divide by zero')

safe_divide(10,2)
safe_divide(5,0)

5.0
Cannot divide by zero